.places__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 79px;
}

@media (min-width: 400px) and (max-width: 769px) {
  .places__list   {
    gap: 71px; 
  }
}

@media (max-width: 399px) {
  .places__list  {
    gap: 48px;
  }
}