.cover__background {
  margin: 0;
  padding: 0;
  margin: auto;
  text-decoration: none;
  color: #fff;
  width: calc(100% + 48px * 2);
  background-image: url(../../../images/cover-trains.jpg);
  background-size: cover;
  padding: 195px 232px;
  position: relative;
  left: -48px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

 .cover__background:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: #2A2C2F;
  opacity: 0.3;
  transition: opacity 0.4s ease;
}

.cover__background:hover:before {
  opacity: 0.8;
}

@media (min-width: 1280px) {
  .cover__background {
    width: 100%;
    left: 0;
    padding: 245px 312px;
  }
}

@media (min-width: 500px) and (max-width: 900px) {
  .cover__background {
    width: calc(100% + 24px * 2);
    left: -24px;
    padding: 115px 104px;
  }
}

@media (max-width: 399px) {
  .cover__background {
    width: calc(100% + 16px * 2);
    left: -16px;
    padding: 33px 16px;
  }
}